* {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 450;
}
.Outline {
  width: 400px;
  height: 100px;
  margin: 50px;
}

.Screen {
  height: 40px;
  width: 400px;
  border: 2px solid rgb(134, 133, 133);
  font-size: x-large;

  background: gray;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.Buttons-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.Left-Grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.Right-Grid {
  grid-template-columns: 1fr;
}
.Right-Grid button {
  background-color: orange;
}

button {
  width: 100px;
  height: 35px;
  border: 0;
}
